.wrap {
    text-align: center;
}
.lesson-title {
    text-align: center;
    margin-top: 2.0rem;
    margin-bottom: 1.0rem;
    font-size: 1.3rem;
    font-weight: bold;
}
select {
    width: 150px;
    font-size: 25px;
    text-align: center;
    background-color: #F5628B;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}