.wrap {
    text-align: center;
}
.lesson-title {
    text-align: center;
    margin-top: 2.0rem;
    margin-bottom: 1.0rem;
    font-size: 1.3rem;
    font-weight: bold;
}
select {
    width: 200px;
    font-size: 35px;
    text-align: center;
}
.lesson-text {
    max-width: 400px;
    margin: auto;
    margin-bottom: 1.5rem;
    font-size: 20px;
    text-align: justify;
}

@media (max-width: 40.0rem) {
    .lesson-text {
        max-width: 300px;
    }
}

@media (max-width: 30.0rem) {
    .lesson-text {
        max-width: 200px;
    }
}