/* Reset the margins and paddings */
body > * {
    margin: 0;
    padding: 0;
}

.right-wrong-quiz {
    margin: auto;
    text-align: center;
    background: white;
    border: 2px solid #ECECEC;
    width: 400px;
    min-height: 400px;
    padding: 2.0rem 4.0rem;
    border-radius: 25px;
}
audio {
    margin-bottom: 2.0rem;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2.0rem;
}
.question {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.0rem;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.option-1, .option-2, .option-3 {
    background: none;
    border: none;
    background-color: #D7EBFA;
    padding: 1.0rem 3.0rem;
    border-radius: 25px;
    font-size: 20px;
    width: 400px;
}

.option-1:hover, .option-2:hover, .option-3:hover {
    cursor: pointer;
    background-color: #A6BFDC;
}

/* Finish Section */
.retake {
    background: none;
    border: none;
    background-color: #F4628C;
    padding: 1.0rem 3.0rem;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.finish-message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3.0rem;
}

/* Make something not clickable */
.unclickable {
    pointer-events: none;
}

/* Hide */
.hide {
    display: none;
}

@media (max-width: 40.0rem){
    .right-wrong-quiz {
        width: 250px;
    }
    .title {
        font-size: 20px;
    }
    audio {
        width: 250px;
    }
    .option-1, .option-2, .option-3 {
        width: 250px;
        font-size: 17px;
    }
}

@media (max-width: 30.0rem){
    .right-wrong-quiz {
        width: 180px;
    }
    .title {
        font-size: 20px;
    }
    audio {
        width: 180px;
    }
    .option-1, .option-2, .option-3 {
        width: 180px;
        font-size: 17px;
    }
}